body {
    background-color: #13678A;
}

h1{
    color: #45C4B0;
}

#red{
    color: #BF0436;
}

#fuschia{
    color: #BF0F61;
}
#purple{
    color: #8679D9;
}
ul{
    
    color: #DAFDBA;

}

ol{
    color: #DAFDBA;
}

.circled{
    list-style-type: circle;
}